package {{modelPackage}};

{{#attributeList}}
{{#attributeImport}}
import {{attributeImport}};
{{/attributeImport}}
{{/attributeList}}

public interface {{modelName}} {

{{#attributeList}}
  {{attributeType}} get{{aattributeName}}();
  
{{/attributeList}}
}