package {{modelPackage}};

import org.springframework.data.jpa.repository.JpaRepository;

/**
 * Spring Data repository interface.
 */
public interface {{modelName}}Repository extends JpaRepository<{{modelName}}, Long> {
}